<gmd-ai-api-info
  [name]="writerAPIInfo.name"
  [availability]="writerAPIInfo.availability()"
  [downloadProgress]="writerAPIInfo.downloadProgress()"
  [error]="writerAPIInfo.error()"
  [docsLinks]="writerAPIInfo.docsLinks"
  [chromeInternalLinks]="writerAPIInfo.chromeInternalLinks"
  (download)="downloadWriterModel()"
/>
<gmd-ai-api-info
  [name]="rewriterAPIInfo.name"
  [availability]="rewriterAPIInfo.availability()"
  [downloadProgress]="rewriterAPIInfo.downloadProgress()"
  [error]="rewriterAPIInfo.error()"
  [docsLinks]="rewriterAPIInfo.docsLinks"
  [chromeInternalLinks]="rewriterAPIInfo.chromeInternalLinks"
  (download)="downloadRewriterModel()"
/>
<gmd-ai-api-info
  [name]="proofreaderAPIInfo.name"
  [availability]="proofreaderAPIInfo.availability()"
  [downloadProgress]="proofreaderAPIInfo.downloadProgress()"
  [error]="proofreaderAPIInfo.error()"
  [docsLinks]="proofreaderAPIInfo.docsLinks"
  [chromeInternalLinks]="proofreaderAPIInfo.chromeInternalLinks"
  (download)="downloadProofreaderModel()"
/>

<section class="bug-report-section">
  <h3>Help to write Bug Report</h3>
  <mat-form-field class="context-field">
    <mat-label>Bug Report</mat-label>
    <textarea matInput name="bugReport" [(ngModel)]="bugReportText" rows="5"></textarea>
  </mat-form-field>
</section>

<form class="options-form">
  <section>
    @if (isWritingInProgress() && !writerResult()) {
    <mat-spinner diameter="36"></mat-spinner>
    } @if (writerResult()) {
    <div class="result">
      <h3>
        <span>Writer Result</span>
        @if (isWritingInProgress()) {
        <mat-spinner diameter="24"></mat-spinner>
        }
      </h3>
      <p>{{ writerResult() }}</p>
    </div>
    } @if (isRewritingInProgress() && !rewriterResult()) {
    <mat-spinner diameter="36"></mat-spinner>
    } @if (rewriterResult()) {
    <div class="result">
      <h3>
        <span>Rewriter Result</span>
        @if (isRewritingInProgress()) {
        <mat-spinner diameter="24"></mat-spinner>
        }
      </h3>
      <p>{{ rewriterResult() }}</p>
    </div>
    } @if (isProofreadingInProgress() && !proofreaderResult()) {
    <mat-spinner diameter="36"></mat-spinner>
    } @if (proofreaderResult()) {
    <div class="result">
      <h3>
        <span>Proofreader Result</span>
        @if (isProofreadingInProgress()) {
        <mat-spinner diameter="24"></mat-spinner>
        }
      </h3>
      <p>{{ proofreaderResult()?.correctedInput }}</p>
      <h4>Corrections:</h4>
      <ul>
        @for (correction of proofreaderResult()?.corrections; track correction.startIndex) {
        <li>
          {{ correction.type }}: {{ correction.explanation }} ({{ correction.startIndex }} -
          {{ correction.endIndex }})
        </li>
        } @empty {
        <li>No corrections</li>
        }
      </ul>
    </div>
    }
  </section>
  <div class="actions">
    <button type="button" matButton="text" (click)="write()">Write</button>
    <button type="button" matButton="text" (click)="writeStreaming()">Write Streaming</button>
    <button type="button" matButton="text" (click)="rewrite()">Rewrite</button>
    <button type="button" matButton="text" (click)="rewriteStreaming()">Rewrite Streaming</button>
    <button type="button" matButton="text" (click)="proofread()">Proofread</button>
  </div>
  <fieldset class="col-4">
    <legend>Writer API configuration</legend>
    <mat-form-field>
      <mat-label>Tone</mat-label>
      <mat-select name="writerTone" [(ngModel)]="writerConfig.tone">
        @for (tone of writerTones; track tone) {
        <mat-option [value]="tone">{{ tone }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Format</mat-label>
      <mat-select name="writerFormat" [(ngModel)]="writerConfig.format">
        @for (format of writerFormats; track format) {
        <mat-option [value]="format">{{ format }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Length</mat-label>
      <mat-select name="writerLength" [(ngModel)]="writerConfig.length">
        @for (size of writerSizes; track size) {
        <mat-option [value]="size">{{ size }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Output Language</mat-label>
      <mat-select name="writerOutputLanguage" [(ngModel)]="writerConfig.outputLanguage">
        @for (lang of outputLanguages; track lang.value) {
        <mat-option [value]="lang.value">{{ lang.displayValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="context-field">
      <mat-label>Context</mat-label>
      <textarea matInput name="writerContext" [(ngModel)]="writerConfig.context"></textarea>
    </mat-form-field>
  </fieldset>
  <fieldset class="col-4">
    <legend>Rewriter API configuration</legend>
    <mat-form-field>
      <mat-label>Tone</mat-label>
      <mat-select name="rewriterTone" [(ngModel)]="rewriterConfig.tone">
        @for (tone of rewriterTones; track tone) {
        <mat-option [value]="tone">{{ tone }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Format</mat-label>
      <mat-select name="rewriterFormat" [(ngModel)]="rewriterConfig.format">
        @for (format of rewriterFormats; track format) {
        <mat-option [value]="format">{{ format }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Length</mat-label>
      <mat-select name="rewriterLength" [(ngModel)]="rewriterConfig.length">
        @for (size of rewriterSizes; track size) {
        <mat-option [value]="size">{{ size }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Output Language</mat-label>
      <mat-select name="rewriterOutputLanguage" [(ngModel)]="rewriterConfig.outputLanguage">
        @for (lang of outputLanguages; track lang.value) {
        <mat-option [value]="lang.value">{{ lang.displayValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="context-field">
      <mat-label>Context</mat-label>
      <textarea matInput name="rewriterContext" [(ngModel)]="rewriterConfig.context"></textarea>
    </mat-form-field>
  </fieldset>
</form>
